@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-500);
  --color-background: var(--color-blue-50);
  --color-surface: var(--color-neutral-50);
  --color-hover: var(--color-blue-100);
  --color-border: var(--color-blue-100);
  --color-foreground: var(--color-blue-950);
  --color-muted: var(--color-neutral-700);
  --color-shadow: var(--color-blue-500);
  --color-sidebar: var(--color-blue-100);
  --color-sidebar-hover: var(--color-blue-200);
}

#root {
  height: 100svh;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: "Nunito Sans Variable", sans-serif;
}

dialog {
  color: var(--color-foreground);
}

@utility title {
  @apply text-4xl font-bold;
}

@utility form-field {
  @apply flex flex-col gap-1;
}

@utility input {
  @apply border-border rounded-full border px-3 py-1.5;
}

@utility button {
  @apply bg-primary text-background hover:bg-primary/90 cursor-pointer rounded-full px-4 py-2 font-semibold;
}

@utility link {
  @apply text-primary hover:underline;
}

@utility nav-link {
  @apply text-foreground hover:bg-sidebar-hover data-current:bg-sidebar-hover flex items-center gap-1 rounded px-4 py-2;
}
